@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    145.44deg,
    rgb(2, 152, 189) -4.982%,
    rgb(2, 152, 189) 37.374%,
    rgb(1, 165, 156) 57.715%,
    rgb(175, 189, 91) 95.171%
  );
}

.section {
  height: 100vh;
  overflow: hidden;
}

.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.header-block {
  max-width: 1440px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  -o-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

.logo-block {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
}

.logo-block > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-title {
  color: #000;
  font-family: "IBM Plex Sans";
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-left: 40px;
}

.main-section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}

.main-section__block {
  position: relative;
  max-width: 1400px;
  width: 100%;
  /* padding: 100px 0 0 41px; */
  padding: 0 0 0 41px;
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  -o-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

.main-title {
  max-width: 450px;
  color: #fff;
  font-family: "IBM Plex Sans";
  font-size: 48px;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: 0%;
}

.main-description {
  max-width: 450px;
  color: #fff;
  font-family: "IBM Plex Sans";
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 25px;
}

.main-btn {
  width: 335px;
  height: 75px;

  color: #169bab;
  font-family: "IBM Plex Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 10%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;

  border: none;
  border-radius: 15px;
  background: #cce251;
  transition: 0.3s;
  cursor: pointer;
}

.main-btn:hover {
  border: 2px solid #cce251;
  background: none;
  color: #cce251;
}

.possible {
  width: 888px;
  height: 898px;
  object-fit: cover;
  position: absolute;
  top: -180px;
  right: -170px;
  z-index: -1;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.possible-mobile {
  display: none;
}

@media screen and (max-width: 1470px) {
  .header {
    padding: 0 1% 0 1%;
  }
}

@media screen and (max-width: 1024px) {
  .possible {
    top: -150px;
    right: -150px;
  }
}

@media screen and (max-width: 800px) {
  .possible {
    width: 600px;
    height: 600px;
    top: auto;
    bottom: 50px;
    right: -100px;
  }
  .header {
    padding: 0 2% 0 2%;
  }
  .header-block{
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
  .section {
    overflow: auto;
  }
  .main-section__block {
    padding: 0 3% 0 2%;
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 0 4% 0 4%;
    height: 75px;
  }
  .header-block {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .main-section {
    padding-bottom: 120px;
    padding-top: 85px;
  }
  .main-section__block {
    padding: 0 5% 0 4%;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .logo-block {
    width: 35px;
    height: 35px;
  }
  .logo-title {
    font-size: 20px;
    padding-left: 20px;
  }
  .possible {
    display: none;
  }
  .possible-mobile {
    display: block;
    position: absolute;
    bottom: -100px;
    right: -50px;
    z-index: -1;
  }
  .main-title {
    font-size: 40px;
    line-height: 52px;
  }
  .main-description {
    font-size: 20px;
    line-height: 26px;
  }
  .main-btn {
    width: 271px;
    height: 60px;
    border-radius: 10px;
  }
}
